<div class="banner" style="background-image: url('<%= image_path 'sign_in_2.jpg' %>') " id="sign_in" >
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3 login-form">
        <h2>New member? Please sign up:</h2>
        <br>
        <br>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :first_name, label: false, required: true, placeholder: 'Firstname*' %>
            <%= f.input :last_name, label: false, required: true, placeholder: 'Lastname*' %>
            <%= f.input :job_title, label: false, required: true, placeholder: 'Job title*' %>
            <%= f.input :email, label: false, required: true, autofocus: true, placeholder: 'Email*' %>
            <%= f.input :password, label: false, required: true, placeholder: 'Password*' %>
            <%= f.input :password_confirmation,label: false, placeholder: 'Password confirmation*', required: true %>
            <%#= f.input :photo, label: 'Profile picture', as: :attachinary%>
          <br>
          <div class="form-actions">
            <%= f.button :submit, "Sign up", class: 'green-btn' %>
          </div>
          <br>
          <div id="member">
            <%= link_to "Already a member ?", new_user_session_path %>
          </div>
        <% end %>
          </div>
<!--           <div class="input-file-container">
            <input class="input-file" id="my-file" type="file">
            <label for="my-file" class="input-file-trigger" tabindex="0">Select a file...</label>
          </div>
          <p class="file-return"></p> -->
      </div>
    </div>
  </div>
</div>

