	<div data-toggle="tooltip", title="<%= user.first_name.capitalize %> <%= user.last_name.capitalize %> <%= user.job_title %>" >
		<% if user.photo? %>
				<%= cl_image_tag user.photo.path, width: 171, height: 171, crop: :fill, class: "avatar-xlarge"%>
		<% else %>
				<%= image_tag "chicken-avatar-green.png", width: 171, height: 171, crop: :fill, class: "avatar-xlarge"%>
		<% end %>
	</div>
