<div class="container padded">
  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <%= render 'avatar', user: @user %>
    </div>
    <div class="col-xs-12 col-sm-2">
      <h2 class="text-center"><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h2>
      <h3 class="text-center"><%= @user.job_title.capitalize %></h3>
    </div>
    <div class="col-xs-12 col-sm-2 col-sm-offset-5 padded">
     <div class="text-center">
        <%= link_to "Update Info", edit_user_path(@user), class: 'btn-medium-full' %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 padded">
      <p>
        <i class="fa fa-calendar" aria-hidden="true"></i>
        My events
      </p>
        <%= render 'events/events_list', events: @user.events_as_participant %>
    </div>
    <div class="col-xs-12 col-sm-4 padded simple-calendar">
     <%= month_calendar events: @user.events_as_participant do |date, events| %>
        <%= date.strftime("%e") %>
      <% events.each do |event| %>
    <div>
      <%= event.type_of %>
    </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>




