<div class="container padded">
  <div class="row">
    <%= render 'avatar' %>
    <h1 class="text-center"><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h1>
    <h2 class="text-center"><%= @user.job_title %></h2>
    <div class="text-center">
      <%= link_to "Update Info", edit_user_path(@user), class: 'btn btn-success' %>
    </div>
    <div class="col-xs-12 padded">
      <p>
        <i class="fa fa-calendar" aria-hidden="true"></i>
        Events I participate

      </p>
          <%= render 'events/events_list', events: @user.events_as_participant %>
    </div>
  </div>
</div>




