<div class="wrapper-grey">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="profil">
          <div class="profil_header">
            <div class="avatar-description">
              <%= render 'avatar', user: @user %>
              <h4><%= @user.full_name %></h4>
              <h5><%= @user.job_title.capitalize %></h5>
              <h5><%= @user.company.name %></h5>
              <br>
             <div>
              <%= link_to "Editer mon profil", edit_user_path(@user), class: 'btn-blue-edit' %>
             </div>
            </div>
            <div class="stats">
              <h3 class="mybuddies-title">Ce mois-ci</h3>
              <div style="display:flex; justify-content: space-between;width: 70%;margin: auto;margin-top: 40px;">
                <div class="icon-wrapper text-center">
                  <div id="participations">
                    <p class="event-next">
                      Nb de courses
                      <span class="fix-editor">&nbsp;</span>
                    </p>
                  </div>
                  <div id="number-participations">
                    <p>
                      <span class="number">1</span>
                    </p>
                  </div>
                </div>
                <div class="icon-wrapper text-center">
                  <div id="speed">
                    <p class="event-next">
                      Vitesse moyenne
                      <span class="fix-editor">&nbsp;</span>
                    </p>
                  </div>
                  <div id="speed-number">
                    <p>
                      <span class="number">10</span>km/h
                    </p>
                  </div>
                </div>
                <div class="icon-wrapper text-center">
                  <div id="distance">
                    <p class="event-next">
                      Distance parcourue
                      <span class="fix-editor">&nbsp;</span>
                    </p>
                  </div>
                  <div id="distance-number">
                    <span class="number">7</span>km
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mybuddies">
            <h3 class="mybuddies-title">Mes collègues de run</h3>
            <div class="mybuddies_avatars">
            <% @user.my_run_buddies.each do |buddy| %>
              <%= render 'users/avatar', user: buddy %>
            <% end %>
            </div>
          </div>
          <div class="mybuddies">
            <h3 class="mybuddies-title">Mes adversaires de run</h3>
            <div class="mybuddies_avatars">
            <% @user.adversaires_buddies.each do |buddy| %>
              <%= render 'users/avatar', user: buddy %>
            <% end %>
            </div>
          </div>
          <div class="mybuddies">
            <h3 class="mybuddies-title">Mes selfies de run</h3>
            <div class="mybuddies_avatars">
            <% @user.events_as_participant.each do |event| %>
                  <% unless event.photos.nil? %>
                    <% event.photos.each do |photo| %>
                      <%= cl_image_tag photo.path, width: 250, height: 250, crop: :fill %>
                    <% end %>
                  <% end %>
            <% end %>
            </div>
          </div>
    </div>
  </div>
</div>




<!-- <div class="col-xs-12 col-sm-1 simple-calendar pad-top margin-chevron">
          <%#= month_calendar events: @user.events_as_participant do |date, events| %>
            <%#= date.strftime("%e") %>
            <#% events.each do |event| %>
              <div class = "event_calendar_notif" data-toggle="tooltip" title="<%#= event.type_of %>">
                <strong><i class="fa fa-circle"></i></strong>
              </div>
              <div class = "event_calendar_content">
                <strong><%#= event.type_of %></strong>
              </div>
            <#% end %>
          <#% end %>
        </div> -->


    <!-- <div class="col-xs-12 col-sm-10">
      <div class="stats">
        <div class="title"> -->
          <!-- div class="pad-left pad-top bg">Vos Stats</div> -->
         <!--  <div class="line-border-top"></div>
          <h1> Mes stats </h1>
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="icon-wrapper">
          <div class="custom-icon">
           <i class="fa fa-users" aria-hidden="true"></i>
            <p>
              Participations
              <span class="fix-editor">&nbsp;</span>
            </p>
            <p>
              <strong> 5 évènements</strong>
            </p>
            </div>
          </div>
        </div> -->
        <!-- <div class="col-xs-12 col-sm-3">
          <div class="icon-wrapper">
            <div  class="custom-icon">
              <i class="fa fa-users" aria-hidden="true"></i>
              <p>Vitesse Moyenne
                <span class="fix-editor">&nbsp;</span>
              </p>
              <p>
                <strong>13 km/h</strong>
              </p>
            </div>
          </div>
        </div> -->
        <!-- <div class="col-xs-12 col-sm-3">
          <div class="icon-wrapper">
            <div class="custom-icon">
              <i class="fa fa-map-o" aria-hidden="true"></i>
              <p>
                Distance parcourue
                <span class="fix-editor">&nbsp;</span>
              </p>
                <strong>80 km</strong>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="icon-wrapper">
            <div class="custom-icon">
             <i class="fa fa-map-o" aria-hidden="true"></i>
              <p>
                Temps couru
                <span class="fix-editor">&nbsp;</span>
              </p>
              <p>
                <strong>800 heures</strong>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div> -->


    <!-- <div class="col-xs-12 col-sm-10 pad-bot pad-top">
      <div class="line">
        <h1 class="size_text">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          Mes événements
        </h1>
      </div>
      <div class="triangle_inside_line pad-bot" id="triangle_show"></div>
      <div class="events_to_show" style="display:none;">
        <#% @user.events_as_participant.each do |event| %>
          <div class="events" id="event_<%#= event.id %>">
            <%#= render 'events/event', event: event %>
          </div>
        <#% end %>
      </div>
    </div> -->
      <!-- <div class="col-xs-12 col-sm-10">
        <div class="line">
          <h1 class="size_text">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            Les événements auxquels je participe
          </h1>
        </div>
        <div class="triangle_inside_line pad-bot" id="triangle_participate">
        </div>
        <div class="events_where_participate" style="display:none;">
          <#% @user.events_as_participant .each do |event| %>
          <div class="events" id="event_<%#= event.id %>">
          <#%= render 'events/event', event: event %>
          </div>
          <#% end %>
        </div>
      </div> -->


    </div>
  </div>
</div>


