

  <div class="ev-header">
    <div class="ev-time">
      <%= event.datetime.strftime('%R') %>
    </div>
    <div class="ev-status" style="border-color: #0743A4; color: #0743A4;">Challenge</div>
  </div>

  <div class="ev-content">
    <div class="ev-photo">
      <% if event.user.photo? %>
        <%= cl_image_tag event.user.photo.path, class: 'ev-avatar', width: 200, height: 200, crop: :fill , data: {toggle: "tooltip"}, title: event.user.full_name + " " + event.user.job_title %>
      <% else %>
        <%= image_tag 'avatar.jpg', class: 'ev-avatar', width: 200, height: 200, crop: :fill , data: {toggle: "tooltip"}, title: event.user.full_name + " " + event.user.job_title %>
      <% end %>
    </div>

    <%= link_to event_path(event), class: 'ev-type' do %>
      <span class="events-type-underline" >
        <%= event.type_of %>
        <% if event.time_goal %>
          <%= event.time_goal_to_s %>
        <% else %>
          <%= event.trail_goal %> km(s)
        <% end %>
      </span>
    <% end %>
    <div style="position: absolute;left: 420px;">
      <% if event.user.company.name == "Pierre et Vacances" %>
        <% company_image = "pierrevacances.jpg" %>
      <% else %>
        <% company_image = "uber.jpg" %>
      <% end %>
      <%= image_tag company_image, class: 'ev-avatar', width: 200, height: 200 %>
      <span style="font-size: 14px; margin: 0 5px;">vs</span>
      <%= image_tag 'clubmed.png', class: 'ev-avatar', width: 200, height: 200 %>
    </div>

      <% if event.joined?(current_user) %>
      <div class="ev-validations">
      <% case event.participations.find_by(user: current_user).status %>
        <% when "going" %>
          <%= link_to participation_path(event.participations.find_by(user: current_user), status: "going"), method: :patch, style: "color: #00FF80 !important; font-size: 30px",remote: true do %>
            <i class="fa fa-check" data-toggle="tooltip" title="J'y vais!"></i>
          <% end %>
          <%= link_to participation_path(event.participations.find_by(user: current_user), status: "maybe"), method: :patch, remote: true do %>
            <i class="fa fa-question" data-toggle="tooltip" title="Peut-être"></i>
          <% end %>
          <%= link_to participation_path(event.participations.find_by(user: current_user), status: "can t go"), method: :patch, remote: true do %>
            <i class="fa fa-times" data-toggle="tooltip" title="Je n'y vais pas"></i>
          <% end %>
        <% when "maybe" %>
          <%= link_to participation_path(event.participations.find_by(user: current_user), status: "going"), method: :patch,remote: true do %>
            <i class="fa fa-check" data-toggle="tooltip" title="J'y vais!"></i>
          <% end %>
          <%= link_to participation_path(event.participations.find_by(user: current_user), status: "maybe"), method: :patch, style: "color: #FF8000 !important; font-size: 30px", remote: true do %>
            <i class="fa fa-question" data-toggle="tooltip" title="Peut-être"></i>
          <% end %>
          <%= link_to participation_path(event.participations.find_by(user: current_user), status: "can t go"), method: :patch, remote: true do %>
            <i class="fa fa-times" data-toggle="tooltip" title="Je n'y vais pas"></i>
          <% end %>
        <% when "can t go" %>
          <%= link_to participation_path(event.participations.find_by(user: current_user), status: "going"), method: :patch,remote: true do %>
            <i class="fa fa-check" data-toggle="tooltip" title="J'y vais!"></i>
          <% end %>
          <%= link_to participation_path(event.participations.find_by(user: current_user), status: "maybe"), method: :patch, remote: true do %>
            <i class="fa fa-question" data-toggle="tooltip" title="Peut-être"></i>
          <% end %>
          <%= link_to participation_path(event.participations.find_by(user: current_user), status: "can t go"), method: :patch, style: "color: red !important; font-size: 30px", remote: true do %>
            <i class="fa fa-times" data-toggle="tooltip" title="Je n'y vais pas"></i>
          <% end %>
        <% end %>
        </div>
      <% else %>
        <div  class="ev-validations" id="create_participation">
          <%= link_to event_participations_path(event, status: "going", filter: 'challenge'), method: :post, remote: true do %>
            <i class="fa fa-check" data-toggle="tooltip" title="J'y vais!"></i>
          <% end %>
          <%= link_to event_participations_path(event, status: "maybe"), method: :post, remote: true do %>
            <i class="fa fa-question" data-toggle="tooltip" title="Peut-être"></i>
          <% end %>
        </div>
      <% end %>
  </div>


