<div class="events-content">
  <div class="events-time">
    <h4><%= event.datetime.strftime('%R') %></h4>
  </div>
  <% if event.user.photo? %>
    <%= cl_image_tag event.user.photo.path, class: 'events-avatar' %>
  <% else %>
    <%= image_tag 'chicken-grey_1.png', class: 'events-avatar' %>
  <% end %>
  <%= link_to event_path(event), class: 'events-type' do %>
    <span class="events-type-underline" >
      <%= event.type_of %>
      <% if event.time_goal %>
        <%= event.time_goal_to_s %>
      <% else %>
        <%= event.trail_goal %> km(s)
      <% end %>
    </span>
  <% end %>
  <!-- <div class="events-rdv">
    <i class="fa fa-map-marker" aria-hidden="true"></i>
    <div><%= event.meeting_point %></div>
  </div> -->
  <div class="events-validations">
    <%= render 'events/participation', event: event %>
  </div>
</div>
<div class='events-bar'>
  <% if event.private %>
    <div class="events-status-private">Privé</div>
  <% else %>
    <div class="events-status-public">Public</div>
  <% end %>
  <div class="events-owner">organisé par <%= event.user.first_name.capitalize %></div>
</div>
