  <div class="product">
    <%= render "users/avatar", user: event.user %>
      <div class='product-body'>
        <h3>
         <%= event.type_of %> -
           <% if event.time_goal %>
             <%= event.time_goal_to_s %>
           <% end %>
           <% if event.trail_goal %>
              <%= event.trail_goal %> km
           <% end %>
        </h3>
        <p>
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <%= event.meeting_point %></p>
        <p> Organized by <%= event.user.email %></p>
        <p> <i class="fa fa-calendar" aria-hidden="true"></i> Date: <%= event.datetime.strftime('%e %B %Y') %> Time: <%=  event.datetime.strftime('%H:%M') %></p>
      </div>
    <div class="btn-toolbar">
        <% if event.joined?(current_user) %>
          <% case event.participations.find_by(user: current_user).status %>
            <% when "going" %>
              <%= link_to participation_path(event.participations.find_by(user: current_user), status: "going"), method: :patch, style: "color: orange !important;",remote: true do %>  
                <i class="fa fa-check" data-toggle="tooltip" title="J'y vais!"></i>
              <% end %>
              <%= link_to participation_path(event.participations.find_by(user: current_user), status: "maybe"), method: :patch, remote: true do %>
                <i class="fa fa-question" data-toggle="tooltip" title="Peut-être"></i>
              <% end %>
              <%= link_to participation_path(event.participations.find_by(user: current_user), status: "can t go"), method: :patch, remote: true do %>  
                <i class="fa fa-times" data-toggle="tooltip" title="Je n'y vais pas"></i>  
              <% end %>
            <% when "maybe" %>
              <%= link_to participation_path(event.participations.find_by(user: current_user), status: "going"), method: :patch,remote: true do %>  
                <i class="fa fa-check" data-toggle="tooltip" title="J'y vais!"></i>
              <% end %>
              <%= link_to participation_path(event.participations.find_by(user: current_user), status: "maybe"), method: :patch, style: "color: orange;", remote: true do %>
                <i class="fa fa-question" data-toggle="tooltip" title="Peut-être"></i>
              <% end %>
              <%= link_to participation_path(event.participations.find_by(user: current_user), status: "can t go"), method: :patch, remote: true do %>  
                <i class="fa fa-times" data-toggle="tooltip" title="Je n'y vais pas"></i>  
              <% end %>
            <% when "can t go" %>
              <%= link_to participation_path(event.participations.find_by(user: current_user), status: "going"), method: :patch,remote: true do %>  
                <i class="fa fa-check" data-toggle="tooltip" title="J'y vais!"></i>
              <% end %>
              <%= link_to participation_path(event.participations.find_by(user: current_user), status: "maybe"), method: :patch, remote: true do %>
                <i class="fa fa-question" data-toggle="tooltip" title="Peut-être"></i>
              <% end %>
              <%= link_to participation_path(event.participations.find_by(user: current_user), status: "can t go"), method: :patch, style: "color: orange;", remote: true do %>  
                <i class="fa fa-times" data-toggle="tooltip" title="Je n'y vais pas"></i>  
              <% end %>
          <% end %>
        <% else %>
          <%= link_to event_participations_path(event, status: "going"), method: :post, remote: true do %>
            <i class="fa fa-check" data-toggle="tooltip" title="J'y vais!"></i>
          <% end %>
          <%= link_to event_participations_path(event, status: "maybe"), method: :post, remote: true do %>
            <i class="fa fa-question" data-toggle="tooltip" title="Peut-être"></i>
          <% end %>
        <% end %>
    </div>
    <%#= link_to '', event_path(event), class: 'card-link'%>
  </div>
