<% events.each do |event| %>
  <div class="product">
      <% if event.photo? %>
        <%= cl_image_tag event.photo.path, width: 200, height: 120, crop: :fill, class:"product-image hidden-xs" %>
      <% else %>
        <%= image_tag "running.jpg", width: 200, height: 120, class:"product-image hidden-xs"%>
      <% end %>
      <div class='product-body'>
        <h3>
         <%= event.type_of %> -
         <%= render 'goal', event: event %>
        </h3>
        <p>
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <%= event.meeting_point %></p>
        <p> Organized by <%= event.user.email %></p>
        <p> <i class="fa fa-calendar" aria-hidden="true"></i> Date: <%= event.datetime.strftime('%e %B %Y') %> Time: <%=  event.datetime.strftime('%H:%M') %></p>
      </div>
    <div class="btn-toolbar"> 
      <% if event.joined?(current_user) %>
        <%= link_to 'Already joined ! Update your participation ?', '#', class: 'btn btn-success'%>
      <% else %>
        <%= link_to 'Join', event_participations_path(event, status: "going"), method: :post, class: 'btn btn-success'%>
        <%= link_to 'Maybe', event_participations_path(event, status: "maybe"), method: :post, class: 'btn btn-success'%> 
      <% end %>     
    </div>
    <%= link_to '', event_path(event), class: 'card-link'%>
  </div>
<% end %>