<h4 class="events-counter"> <%= pluralize events.size, "résultat" %></h4>
<% today = Date.today %>
<% events_sorted.each do |date, e| %>
  <div class="events-date-bg">
    <div class="events-date">
      <div>
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <% if date == today %>
          Aujourd'hui
        <% elsif date == (today + 1.days) %>
          Demain
        <% else %>
          <%= date.strftime('%e %B %Y') %>
        <% end %>
      </div>
    </div>
    <div class="box">
    <% e.each do |event| %>
      <div class="ev" id="event_<%= event.id %>">
        <% if @filter == 'challenge' %>
          <%= render 'challenge', event: event %>
        <% else %>
          <%= render 'event', event: event %>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>
<% end %>
