<div class="container padded">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <%= simple_form_for(@event) do |f| %>
        <%= f.error_notification %>
        <a class="btn btn-default public"><i class="icon-remove"></i> Disable</a>
        <a class="btn btn-default private"><i class="icon-ok"></i> Enable</a>
        <%= f.input :private %>
        <%= f.input :type_of, autofocus: true, label: false, placeholder: "Type of event", collection: Event::MEETING, prompt: "Select an event" %>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <%= f.input :time_goal,label: false ,placeholder: "Time goal (minutes)", input_html: { min: '1' }, placeholder: "20 minutes" %>
          </div>
          ou
          <div class="col-xs-12 col-md-6">
            <%= f.input :trail_goal,label: false ,placeholder: "Trail goal (kms)", input_html: { min: '1' }, placeholder: "5 kms" %>
          </div>
        </div>
        <%= f.input :datetime,label: false, as: :string, input_html: { class: "datetimepicker" } %>
        <%= f.input :description,label: false , placeholder: "Description de l'activité" %>
        <%= f.input :meeting_point,label: false , placeholder: 'Lieu de rendez-vous' %>
        <%= f.input :address,label: false ,placeholder: 'adresse' %>
        <br>
        <div class="text-center">
          <%= f.button :submit, class: "btn-medium-full", method: 'get' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    $('.public').click(function () {
      $('.disable-example').prop('private', false);
      // $('.disable-example').selectpicker('refresh');
    });

    $('.private').click(function () {
      $('.disable-example').prop('private', true);
      // $('.disable-example').selectpicker('refresh');
    });
  </script>
<% end %>
