<div class="grey-wrapper pad-top pad-bot">
  <div class="container">
    <h2 class="events-list-title text-center">Evénements à venir</h2>
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1 ">
        <ul class="nav index-menu">
          <li class="all-child hvr-underline-from-left"><%= link_to 'Mes runs', events_path(filter: 'Own_run') %></li>
          <li class="all-child hvr-underline-from-left"><%= link_to 'Publics', events_path(filter: 'public') %></li>
          <li class="all-child hvr-underline-from-left"><%= link_to 'Défis reçus', events_path(filter: 'private') %></li>
          <li class="all-child hvr-underline-from-left"><%= link_to 'Challenges Entreprises', events_path(filter: 'private') %></li>
          <!-- li class="all-child">
            <%#= link_to events_path(filter: 'refused') do %>
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            <# end %>
          </li> -->
        </ul>
      </div>
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <h4 class="events-counter"> <%= pluralize @events.size, "résultat" %></h4>
        <% today = Date.today %>
        <% @events.each do |date, events| %>
          <div class="events-date-bg">
            <div class="events-date">
              <div>
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <% if date == today %>
                  Aujourd'hui
                <% elsif date == (today + 1.days) %>
                  Demain
                <% else %>
                  <%= date.strftime('%e %B %Y') %>
                <% end %>
              </div>
            </div>
            <div class="box">
            <% events.each do |event| %>
              <div class="ev" id="event_<%= event.id %>">
                <%= render 'event', event: event %>
              </div>
            <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

