<div class="event-banner" style="background-image: url(<%= image_path 'runners-tree.jpg' %>);">
  <h2 class="events-list-title text-center">Prochains événements</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 blue-nav allevents">
      <ul class="nav index-menu">
        <li class="all-child hvr-underline-from-left"><%= link_to 'Mes Run', events_path(filter: 'Own_run') %></li>
        <li class="all-child hvr-underline-from-left"><%= link_to 'Run publics', events_path(filter: 'public') %></li>
        <li class="all-child hvr-underline-from-left"><%= link_to 'Invitations', events_path(filter: 'private') %></li>
        <li class="all-child hvr-underline-from-left"><%= link_to 'Challenges Entreprises', events_path(filter: 'challenge') %></li>
        <!-- li class="all-child">
          <%#= link_to events_path(filter: 'refused') do %>
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          <# end %>
        </li> -->
      </ul>
    </div>
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="events_content">
      <% if @filter == 'Own_run' %>
        <h4 class="mybuddies-title">Les run que j'organise</h4>
        <%= render 'events/events', events: @events, events_sorted: @events_sorted %>
        <h4 class="mybuddies-title">Les run auxquels je participe</h4>
        <%= render 'events/events', events: @my_participations, events_sorted: @my_participations_sorted %>
      <% else %>
        <%= render 'events/events', events: @events, events_sorted: @events_sorted %>
      <% end %>
      </div>
    </div>
  </div>
</div>



