<div class="container">
  <% if @events == [] %>
      <h1>Sorry there is no public event at the moment ! </h1>
      <h1>
        Go on poules create yours !
        <%= image_tag "chicken.png", width: 80 %>
        <%= image_tag "chicken.png", width: 80 %>
        <%= image_tag "chicken.png", width: 80 %>
        <%= image_tag "chicken.png", width: 80 %>
      </h1>
  <% else %>
    <div class="text-center padded">
      <h1 id= "events">Events</h1>
    </div>
    <div> 
      <%= render 'events_list', events: @events %>
    </div>
    <div> 
      <%= render 'events_list', events: @my_events %>
    </div>

  <% end %>
</div>


