<div class="container">
  <h2 class="events-list-title text-center">Evénements à venir</h2>
  <div class="row">
    <div class="col-xs-3">
      <ul class="nav index-menu">
        <li><%= link_to 'Tous', events_path %></li>
        <li><%= link_to 'Publics', events_path(filter: 'public') %></li>
        <li><%= link_to 'Privés', events_path(filter: 'private') %></li>
        <li><%= link_to 'Refusés', events_path(filter: 'refused') %></li>
        <li><%= link_to "Créer un événement", new_event_path, class: "btn btn-primary" %></li>
      </ul>
    </div>
    <div class="col-xs-9">
      <h4 class="events-counter">Résultats: <%= @events.count %></h4>
      <% today = DateTime.now.to_date %>
      <% @events.each do |date, events| %>
        <div class="events-date-bg">
          <div class="events-date">
            <div>
              <i class="fa fa-calendar" aria-hidden="true"></i>
              <% if date.to_date == today %>
                Aujourd'hui
              <% elsif date.to_date == (today + 1.days) %>
                Demain
              <% else %>
                <%= date.strftime('%e %B %Y') %>
              <% end %>
            </div>
          </div>
<<<<<<< HEAD
          <%= image_tag 'chicken-avatar-green.png', class: 'event-avatar',
            data: {toggle: 'tooltip'}, title: 'organisé par Coline' %>
          <h3 class="event-type">Fun run</h3>
          <div class="event-rdv">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <div>meeting point bla blablabla</div>
          </div>
          <div class="event-validations">
            <i class="fa fa-check" data-toggle="tooltip" title="J'y vais!"></i>
            <i class="fa fa-times" data-toggle="tooltip" title="Je n'y vais pas"></i>
            <i class="fa fa-question" data-toggle="tooltip" title="Peut-être"></i>
          </div>
        </div>
        <div class='event-bar'>
          <div class="event-status">Privé</div>
          <div class="event-owner">organisé par Coline</div>
        </div>
      </div>
    </div>
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <%# if @events == [] && @my_events == [] %>
<!--       <h1>Sorry there is no public event at the moment ! </h1>
      <h1>
        Go on poules create yours !
        <%#= image_tag "chicken.png", width: 80 %>
      </h1> -->
  <%# else %>
    <div class="text-center padded">
      <h1 id= "events">Events</h1>
    </div>
    <div>
      <% @events.each do |event| %>
        <div id="event_<%= event.id %>">
          <%= render 'event', event: event %>
=======
          <% events.each do |event| %>
            <div class="events">
              <div class="events-content">
                <div class="events-time">
                  <h4><%= event.datetime.strftime('%R') %></h4>
                </div>
                <% if event.user.photo? %>
                  <%= cl_image_tag event.user.photo.path, class: 'events-avatar' %>
                <% else %>
                  <%= image_tag 'chicken-avatar-green.png', class: 'events-avatar' %>
                <% end %>
                <%= link_to event.type_of, event_path(event), class: 'events-type' %>
                <div class="events-rdv">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  <div><%= event.meeting_point %></div>
                </div>
                <div class="events-validations">
                  <i class="fa fa-check" data-toggle="tooltip" title="J'y vais!"></i>
                  <i class="fa fa-times" data-toggle="tooltip" title="Je n'y vais pas"></i>
                  <i class="fa fa-question" data-toggle="tooltip" title="Peut-être"></i>
                </div>
              </div>
              <div class='events-bar'>
                <% if event.private %>
                  <div class="events-status-private">Privé</div>
                <% else %>
                  <div class="events-status-public">Public</div>
                <% end %>
                <div class="events-owner">organisé par <%= event.user.first_name.capitalize %></div>
              </div>
            </div>
          <% end %>
>>>>>>> 7f2a39767c1c8f520338dda54b7c5b9ac322aa05
        </div>
      <% end %>
    </div>
  </div>
</div>


