<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <% if @event.photo? %>
        <%= cl_image_tag @event.photo.path, width: 600, height: 300, crop: :fill %>
      <% end %>
      <h1><%= @event.name %></h1>
      <ul class="list-unstyled">
        <li>This is a
          <% if @event.public %>
            <%= "public" %>
            <% else %>
            <%= "private" %>
          <% end  %>
          event organized by <%= @event.user.email %>
        </li>
        <li>Date: <%=@event.datetime.strftime('%e %B %Y') %> Time: <%= @event.datetime.strftime('%H:%M') %></li>
        <% if @event.kind %>
          <li>
            Are you up for a <%= @event.kind %> !
          </li>
        <% end %>
        <% if @event.description %>
          <li>
              Here is a little description: <%= @event.description %>
          </li>
        <% end %>
        <li>Let s meet at <%= @event.place_name %></li>
        <% if @event.address %>
          <li>
            address: <%= @event.address %>
          </li>
        <% end %>
        <li>
          <% if @event.time_goal %>
            Let s run for <%= @event.time_goal_to_s %> !
          <% end %>
          <% if @event.trail_goal %>
            Let s run <%= @event.trail_goal %> km !
          <% end %>
        </li>
        <li>
          Hurry up guys ! Just <%= @event.nb_of_participants  %> participants left !
        </li>
      </ul>
      <%= link_to "Back to events", events_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
