<% case @event.type_of %>
  <% when "Interval run"%>
    <% photo = "interval.jpg" %>
  <% when "Endurance run"%>
    <% photo = "endurance.jpg" %>
  <% when "Cool run" %>
    <% photo = "cool_run.jpg" %>
  <% when "Chatting run" %>
    <% photo = "chatting_run.jpg" %>
  <% when "Speed walk" %>
    <% photo = "speed_walk.jpg" %>
  <% else %>
    <% photo = "pleasant_walk.jpg" %>
  <% end %> 
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path photo, width: 600, height: 300, crop: :fill %>);"></div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="event">
          <div class="event_header">
            <div class='event-date'>
              <div>
                <h3> <%= @event.datetime.strftime('%e %B %Y') %> </h3>   
              </div>
              <div>
                <h3> <%= @event.datetime.strftime('%H:%M') %> </h3> 
              </div>
              <div class="public_private">
              <% if @event.private %>
                <%= "PRIVE" %>
              <% else %>
                <%= "PUBLIC" %>
              <% end  %>           
              </div>
            </div> 
            <div class="event_type">
              <div>
                <h3>
                 <%= @event.type_of %> -
                   <% if @event.time_goal %>
                     <%= @event.time_goal_to_s %>
                   <% end %>
                   <% if @event.trail_goal %>
                      <%= @event.trail_goal %> km
                   <% end %>
                </h3>
              </div>
              <div>
                <h3> Organisé par <%= @event.user.first_name %> <%= @event.user.last_name  %></h3>
              </div>
            </div> 
            <div>
              <%= render "users/avatar", user: @event.user %>
            </div>
          </div>
          <div class="event-details">
            <div class="description">
              <div>
                <h4>Lieu du rendez-vous </h4>
                <p><%= @event.meeting_point %></p>
              </div>
              <div>
                <% unless @event.address.blank? %>
                  <h4><%= "Adresse de l'activité" %></h4>
                  <p><%= @event.address %></p>
                <% end %>
              </div>
              <div>
                <% unless @event.description.blank? %>
                  <h4><%= "Description de l'activité" %></h4>
                  <p><%= @event.description %></p>
                <% end %>
              </div>
              <div>
                <% unless @event.messages.empty? %>
                  <h4><%= "Messages" %></h4>
                  <% @event.messages.each do |message| %>
                    <%= message %>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="participation">
              <%= render "events/participations", event: @event %>
            </div>
          </div>
        </div>
        



        <div class="text-center padded">
          <%= link_to "Back to events", events_path, class: "btn-medium-full" %>
          <% if policy(@event).edit? %>
            <%= link_to "Edit my event", edit_event_path(@event), class: "btn-medium-full" %>
          <% end %>
          <% if policy(@event).destroy? %>
            <%= link_to "Delete this event", event_path, method: :delete, class: "btn-medium-full" %>
          <% end %>
        </div>
        <% if @event.latitude &&  @event.longitude %>
          <div id="map" style="width: 100%; height: 600px;"></div>
        <% end %>

      </div>
    </div>
  </div>




  <% content_for :after_js do %>
    <% if @event.latitude &&  @event.longitude %>

      <script>
        $(document).ready(function() {
          var handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function() {
            markers = handler.addMarkers(<%= raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            if (markers.length == 0) {
              handler.getMap().setZoom(2);
            } else if (markers.length == 1) {
              handler.getMap().setZoom(14);
            }
          });
        });
      </script>
    <% end %>
  <% end %>

