<div class="banner" style="background-image: linear-gradient(-225deg, rgba(171,207,230,0.5) 0%, rgba(0,36,61,0.3) 50%), url(<%= image_path 'home.jpg' %>);">
  <div class="banner-content">
    <h1>Keep working, still running !</h1>
    <p>The best app to connect with you colleagues and enjoy outdoors activities.  </p>
    <br>
    <% if user_signed_in? %>
      <%= link_to 'View events', events_path, class:"btn-medium", id: "home-page" %>
    <% else %>
      <%= link_to 'Sign up', new_user_registration_path, class:"btn-medium-full" %>
      <%= link_to 'Learn more', new_user_session_path, class:"btn-medium", id: "home-page" %>
    <% end %>
  </div>
</div>

<div class="banner-light">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Some stuff</h2>
            <p>Very cool stuff, useful and smart</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Some stuff</h2>
            <p>Very cool stuff, useful and smart</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Some stuff</h2>
            <p>Very cool stuff, useful and smart</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="banner-light">
  <div class="container">
    <div class="banner" style="background-image: url('<%= image_path 'sign_in_3.jpg' %>'); height: 50vh;" ></div>
  </div>
</div>
